@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Cedarville+Cursive&family=DynaPuff:wght@400;500;600;700&family=Oswald:wght@500&display=swap');


:root{
  --almostBlack : #191919;
  --white : #f2f3ee;
  --almostYellow : #fbc33d;
  --black : #000000;
  --almostOrange : #f66500;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

/*  For the navigation menu */

nav{
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: var(--white);
  background: linear-gradient(60deg, var(--white) 10%, transparent 100%), url('./images/bg.png');

}

.left {
  text-decoration: none;
  padding: 8px 20px;
  font-family: 'DynaPuff', cursive;
  background-color: var(--black);
  color: var(--white);
}


.right ul{
  display: flex;
}
.right ul li{
  list-style: none;
  margin: 0 5px;
}
.x{
  color: var(--black);
  margin: 0;
  text-decoration: none;
  padding: 8px 10px;
}
.ham-burger{
  display: none;
}
.active{
  background-color: var(--black);
  color: var(--white);
}



@media only screen and (max-width: 700px) {
  .right{
    display: none;
  }
  .right ul{
    flex-direction: column;
  }
  .right li{
    padding: 8px 8px 8px 0px;
  }
  .right a{
    padding: 8px 18px 8px 0px;
  }
  .ham-burger{
    display: block;
  }
  .active{
    all : unset;
    color: var(--almostOrange);
  }
}

.responsive-menu{
  background-color: var(--white);
  display: flex;
  width: 100vw;
  justify-content: center;
  padding: 7% 3%;
  text-align: center;
  border-radius: 0 0 12px 12px;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0px;
  z-index: 2;
}

/*  For the Home Components */
.home{
  height: 89vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: var(--white);
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.home-content{
  width: 50%;
  display: flex;
}

.home-content-left{
  width: 35%;
}

.home-content h1{
  padding: 2px 0;
  letter-spacing: 2px;
  color: var(--almostBlack);
}

.home-content p{
  padding: 2px 0;
  font-size: 22px;
  letter-spacing: 2px;
  color: var(--almostBlack);
}
.home strong{
  color: var(--almostOrange);
}
.home-content a{
  display: inline-block;
  margin-top: 12px;
  padding: 8px 20px;
  text-decoration: none;
  background-color: var(--almostBlack);
  color: var(--white);
  transition: 0.3s linear;
}

.home-content a:hover{
  background-color: var(--almostOrange);
  color: black;
}

.home-img{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-img img{
  width: 45%;
  mix-blend-mode: multiply;
}

@media only screen and (max-width: 700px) {

  .home{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .home-content{
    width: 100%;
    padding: 0 5%;
    height: 54%;
  }
  .home-content-left{
    display: none;
  }
  .home-img{
    height: 46%;
  }
  .home-img img{
    width: 280px;
  }
}

@keyframes fade-in {
  0%{
    opacity: 0.1;
  }
  25%{
    opacity: 0.3;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.7;
  }
  100%{
    opacity: 1;
  }
  
}

/* For the Questions Component */
.questions{
  height: 90vh;
  overflow-y: auto;
  padding: 40px;
  background: linear-gradient(60deg, var(--white) 40%, transparent 250%), url('./images/bg.png');
}
.question-parent{
  text-decoration: none;
}

.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  margin: 16px;
  background-color: var(--almostBlack);
  color: var(--white);
}

.question:hover{
  transform: scale(1.03,1.1);
}


@media only screen and (max-width: 700px) {
  .questions{
    padding: 0;
  }
}


/* for the register page */
.register{
  height: 90vh;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  background: linear-gradient(60deg, var(--white) 40%, transparent 250%), url('./images/bg.png');
}

.rContainer{
  width: 50%;
  display: flex;
  animation-name: pop;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.rContainer form{
  width: 50%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: 0px 8px 8px 0;
  justify-content: center;
  align-items: center;
  padding: 3% 7%;
  background-color: var(--almostBlack);
}
.rContainer form>h2{
  padding: 0 0 12px 0;
}
.rContainer input{
  width: 100%;
  padding: 8px 20px;
  margin: 6px;
  border: 0;
  border-radius: 3px;
}
.rContainer input:focus{
  outline: 0px;
}

.rContainer img{
  width: 50%;
  border-radius: 8px 0 0 8px;
  background-color: var(--almostYellow);
}

@media only screen and (max-width: 700px) {
  .register{
    justify-content: center;
    align-items: center;
  }
  .rContainer{
    width:  70%;
    flex-direction: column;
  }
  .rContainer form{
    width: unset;
    border-radius: 8px;
    padding: 10%;
  }
  .rContainer img{
    display: none;
  }
}

/* For the Login Page */
.login{
  height: 90vh;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  background: linear-gradient(60deg, var(--white) 40%, transparent 250%), url('./images/bg.png');
}

.lContainer{
  width: 50%;
  display: flex;
  animation-name: pop;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

}

.lContainer form{
  width: 50%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: 0px 8px 8px 0;
  justify-content: center;
  align-items: center;
  padding: 3% 7%;
  background-color: var(--almostBlack);
}
.lContainer form>h2{
  padding: 0 0 12px 0;
}
.lContainer input{
  width: 100%;
  padding: 8px 20px;
  margin: 6px;
  border: 0;
  border-radius: 3px;
}
.lContainer input:focus{
  outline: 0px;
}
.lContainer img{
  width: 50%;
  border-radius: 8px 0 0 8px;
  background-color: var(--almostYellow);
}

.submit:hover{
  background-color: var(--almostOrange);
}

@keyframes pop {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  70%{
    transform: scale(1);
    opacity: 0.8;
  }
  90%{
    transform: scale(0.8);
    opacity: .9;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
  
}

@media only screen and (max-width: 700px) {
  .login{
    justify-content: center;
    align-items: center;
  }
  .lContainer{
    width:  70%;
    flex-direction: column;
  }
  .lContainer form{
    width: unset;
    border-radius: 8px;
    padding: 10%;
  }
  .lContainer img{
    display: none;
  }
}

/* For the error Page */
.error{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(60deg, var(--white) 40%, transparent 250%), url('./images/bg.png');
}
.error-txt{
  font-size: 184px;
  opacity: 0.2;
}
.error-txt-desc{
  position: absolute;
  font-size: 44px;
  opacity: 0.8;
  letter-spacing: 16px;
}

/* for the footer */
.footer{
  text-align: center;
  font-size: 12px;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background-color: var(--white);
}